In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# Verfügbare sns-Datensätze anschauen
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
# Planets-Datensatz anschauen
planets = sns.load_dataset('planets')
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
# Es wird doch ein Kaggle-Datensatz... CSV laden:
imdb = pd.read_csv(r'../data/imdb.csv')
imdb.head()

,Poster,Title,Year,Certificate,Duration (min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review
0,https://m.media-amazon.com/images/M/MV5BYWRkZj...,The Idea of You,2023.0,R,115.0,"Comedy, Drama, Romance",6.4,67.0,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...","28,744","Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,https://m.media-amazon.com/images/M/MV5BZGI4NT...,Kingdom of the Planet of the Apes,2023.0,PG-13,145.0,"Action, Adventure, Sci-Fi",7.3,66.0,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...","22,248","Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,https://m.media-amazon.com/images/M/MV5BZjIyOT...,Unfrosted,2023.0,PG-13,97.0,"Biography, Comedy, History",5.5,42.0,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...","18,401","In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,https://m.media-amazon.com/images/M/MV5BMjA5Zj...,The Fall Guy,2023.0,PG-13,126.0,"Action, Comedy, Drama",7.3,73.0,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...","38,953",A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,https://m.media-amazon.com/images/M/MV5BNTk1MT...,Challengers,2023.0,R,131.0,"Drama, Romance, Sport",7.7,82.0,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...","32,517","Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...

### Datensatz-Bereinigung und -Anpassungen einiger Datentypen

In [5]:
# Momentane Datentypen überprüfen
imdb.dtypes

Poster             object
Title              object
Year              float64
Certificate        object
Duration (min)    float64
Genre              object
Rating            float64
Metascore         float64
Director           object
Cast               object
Votes              object
Description        object
Review Count       object
Review Title       object
Review             object
dtype: object

In [6]:
# Null-Werte und die dazugehörigen Zeilen entfernen
imdb.dropna(inplace=True)

In [7]:
# Betroffene Zeilen in die gewünschten Datentypen casten
imdb['Year'] = imdb['Year'].astype(int)
imdb['Duration (min)'] = imdb['Duration (min)'].astype(int)
imdb['Metascore'] = imdb['Metascore'].astype(int)
imdb['Votes'] = imdb['Votes'].str.replace(',', '').astype(int)
imdb['Review Count'] = imdb['Review Count'].str.replace(',', '').astype(int)

In [8]:
# Überprüfung der Datentypen
imdb.dtypes

Poster             object
Title              object
Year                int64
Certificate        object
Duration (min)      int64
Genre              object
Rating            float64
Metascore           int64
Director           object
Cast               object
Votes               int64
Description        object
Review Count        int64
Review Title       object
Review             object
dtype: object

In [9]:
# Ergebnisse im DataFrame überprüfen
imdb

,Poster,Title,Year,Certificate,Duration (min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review
0,https://m.media-amazon.com/images/M/MV5BYWRkZj...,The Idea of You,2023,R,115,"Comedy, Drama, Romance",6.4,67,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...",28744,"Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,https://m.media-amazon.com/images/M/MV5BZGI4NT...,Kingdom of the Planet of the Apes,2023,PG-13,145,"Action, Adventure, Sci-Fi",7.3,66,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...",22248,"Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,https://m.media-amazon.com/images/M/MV5BZjIyOT...,Unfrosted,2023,PG-13,97,"Biography, Comedy, History",5.5,42,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...",18401,"In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,https://m.media-amazon.com/images/M/MV5BMjA5Zj...,The Fall Guy,2023,PG-13,126,"Action, Comedy, Drama",7.3,73,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...",38953,A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,https://m.media-amazon.com/images/M/MV5BNTk1MT...,Challengers,2023,R,131,"Drama, Romance, Sport",7.7,82,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...",32517,"Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,https://m.media-amazon.com/images/M/MV5BNjFjYm...,The Masque of the Red Death,2020,A,89,"Drama, Horror",6.9,77,Roger Corman,"Vincent Price, Hazel Court, Jane Asher, David ...",16302,A European prince terrorizes the local peasant...,109,Price at his Most Wicked!,Roger Corman has done an outstanding job with ...
9993,https://m.media-amazon.com/images/M/MV5BMzRkNj...,South Central,2020,R,98,"Crime, Drama",6.8,64,Stephen Milburn Anderson,"Glenn Plummer, Byron Minns, Lexie Bigham, Vinc...",6730,A former gangster fresh out of prison wants to...,20,"""South Central was adapted from my novel ""Sout...",I would like to thank all of the fans and supp...
9994,https://m.media-amazon.com/images/M/MV5BNmRhZW...,Mutiny on the Bounty,2020,U,132,"Adventure, Biography, Drama",7.6,87,Frank Lloyd,"Charles Laughton, Clark Gable, Franchot Tone, ...",24899,First mate Fletcher Christian leads a revolt a...,112,"Our Favorite ""Mutiny"": April 28, 1789",Although the versions with Marlon Brando and T...
9995,https://m.media-amazon.com/images/M/MV5BMzg5MW...,The Greatest Show on Earth,2020,U,152,"Drama, Family, Romance",6.5,76,Cecil B. DeMille,"James Stewart, Charlton Heston, Betty Hutton, ...",16078,"The dramatic lives of trapeze artists, a clown...",128,"Hey, doesn't anyone remember Last Emperor?",It constantly amazes me that people carp that ...
9998,https://m.media-amazon.com/images/M/MV5BMTAwOD...,Loving Pablo,2020,A,123,"Biography, Crime, Drama",6.4,42,Fernando León de Aranoa,"Javier Bardem, Penélope Cruz, Peter Sarsgaard,...",22447,A journalist strikes up a romantic relationshi...,84,That film should be in Spanish,Why anyone (the director?) made Spanish actors...

In [10]:
# Poster-Spalte entfernen
imdb.drop(columns=['Poster'], inplace=True)

In [11]:
# Index neu setzen
imdb.reset_index(drop=True, inplace=True)

In [12]:
# Überprüfung
imdb

,Title,Year,Certificate,Duration (min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review
0,The Idea of You,2023,R,115,"Comedy, Drama, Romance",6.4,67,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...",28744,"Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,Kingdom of the Planet of the Apes,2023,PG-13,145,"Action, Adventure, Sci-Fi",7.3,66,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...",22248,"Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,Unfrosted,2023,PG-13,97,"Biography, Comedy, History",5.5,42,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...",18401,"In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,The Fall Guy,2023,PG-13,126,"Action, Comedy, Drama",7.3,73,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...",38953,A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,Challengers,2023,R,131,"Drama, Romance, Sport",7.7,82,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...",32517,"Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6399,The Masque of the Red Death,2020,A,89,"Drama, Horror",6.9,77,Roger Corman,"Vincent Price, Hazel Court, Jane Asher, David ...",16302,A European prince terrorizes the local peasant...,109,Price at his Most Wicked!,Roger Corman has done an outstanding job with ...
6400,South Central,2020,R,98,"Crime, Drama",6.8,64,Stephen Milburn Anderson,"Glenn Plummer, Byron Minns, Lexie Bigham, Vinc...",6730,A former gangster fresh out of prison wants to...,20,"""South Central was adapted from my novel ""Sout...",I would like to thank all of the fans and supp...
6401,Mutiny on the Bounty,2020,U,132,"Adventure, Biography, Drama",7.6,87,Frank Lloyd,"Charles Laughton, Clark Gable, Franchot Tone, ...",24899,First mate Fletcher Christian leads a revolt a...,112,"Our Favorite ""Mutiny"": April 28, 1789",Although the versions with Marlon Brando and T...
6402,The Greatest Show on Earth,2020,U,152,"Drama, Family, Romance",6.5,76,Cecil B. DeMille,"James Stewart, Charlton Heston, Betty Hutton, ...",16078,"The dramatic lives of trapeze artists, a clown...",128,"Hey, doesn't anyone remember Last Emperor?",It constantly amazes me that people carp that ...
6403,Loving Pablo,2020,A,123,"Biography, Crime, Drama",6.4,42,Fernando León de Aranoa,"Javier Bardem, Penélope Cruz, Peter Sarsgaard,...",22447,A journalist strikes up a romantic relationshi...,84,That film should be in Spanish,Why anyone (the director?) made Spanish actors...

In [13]:
# Leerzeichen in den Spaltennamen durch _ ersetzen
imdb.columns = imdb.columns.str.replace(' ', '_')

In [14]:
# Für die Genres nur das Hauptgenre behalten
imdb['Genre'] = imdb['Genre'].str.split(',').str[0]

In [15]:
# DataFrame auf neue Variable legen
imdb_clean = imdb
imdb_clean.head()

,Title,Year,Certificate,Duration_(min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review_Count,Review_Title,Review
0,The Idea of You,2023,R,115,Comedy,6.4,67,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...",28744,"Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,Kingdom of the Planet of the Apes,2023,PG-13,145,Action,7.3,66,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...",22248,"Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,Unfrosted,2023,PG-13,97,Biography,5.5,42,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...",18401,"In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,The Fall Guy,2023,PG-13,126,Action,7.3,73,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...",38953,A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,Challengers,2023,R,131,Drama,7.7,82,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...",32517,"Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...

In [16]:
# Bereinigtes DataFrame als CSV exportieren
# imdb_clean.to_csv(r'../data/imdb_clean.csv', index=False, encoding='utf-8')

In [17]:
# CSV testweise laden und DataFrame begutachten
imdb_clean_test = pd.read_csv(r'../data/imdb_clean.csv')
imdb_clean_test

,Title,Year,Certificate,Duration_(min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review_Count,Review_Title,Review
0,The Idea of You,2023,R,115,Comedy,6.4,67,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...",28744,"Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,Kingdom of the Planet of the Apes,2023,PG-13,145,Action,7.3,66,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...",22248,"Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,Unfrosted,2023,PG-13,97,Biography,5.5,42,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...",18401,"In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,The Fall Guy,2023,PG-13,126,Action,7.3,73,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...",38953,A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,Challengers,2023,R,131,Drama,7.7,82,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...",32517,"Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6399,The Masque of the Red Death,2020,A,89,Drama,6.9,77,Roger Corman,"Vincent Price, Hazel Court, Jane Asher, David ...",16302,A European prince terrorizes the local peasant...,109,Price at his Most Wicked!,Roger Corman has done an outstanding job with ...
6400,South Central,2020,R,98,Crime,6.8,64,Stephen Milburn Anderson,"Glenn Plummer, Byron Minns, Lexie Bigham, Vinc...",6730,A former gangster fresh out of prison wants to...,20,"""South Central was adapted from my novel ""Sout...",I would like to thank all of the fans and supp...
6401,Mutiny on the Bounty,2020,U,132,Adventure,7.6,87,Frank Lloyd,"Charles Laughton, Clark Gable, Franchot Tone, ...",24899,First mate Fletcher Christian leads a revolt a...,112,"Our Favorite ""Mutiny"": April 28, 1789",Although the versions with Marlon Brando and T...
6402,The Greatest Show on Earth,2020,U,152,Drama,6.5,76,Cecil B. DeMille,"James Stewart, Charlton Heston, Betty Hutton, ...",16078,"The dramatic lives of trapeze artists, a clown...",128,"Hey, doesn't anyone remember Last Emperor?",It constantly amazes me that people carp that ...
6403,Loving Pablo,2020,A,123,Biography,6.4,42,Fernando León de Aranoa,"Javier Bardem, Penélope Cruz, Peter Sarsgaard,...",22447,A journalist strikes up a romantic relationshi...,84,That film should be in Spanish,Why anyone (the director?) made Spanish actors...

In [21]:
imdb_clean[imdb_clean['Title'] == 'Titanic']

,Title,Year,Certificate,Duration_(min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review_Count,Review_Title,Review
47,Titanic,2023,UA,194,Drama,7.9,75,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",1283223,A seventeen-year-old aristocrat falls in love ...,2794,"Timeless, moving, and epic",Every once in a while the conversation will tu...

In [22]:
imdb[imdb['Title'] == 'Titanic']

,Title,Year,Certificate,Duration_(min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review_Count,Review_Title,Review
47,Titanic,2023,UA,194,Drama,7.9,75,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",1283223,A seventeen-year-old aristocrat falls in love ...,2794,"Timeless, moving, and epic",Every once in a while the conversation will tu...